.em-player {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #1883d7;
  background: rgba(255, 255, 255, 0);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
.em-player .control-layer {
  position: absolute;
  height: 150px;
  bottom: 0px;
  color: #fff;
}
.em-player .control-layer .title {
  font-size: 35px;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 5px;
}
.em-player .control-layer .timer-cmp {
  height: 15px;
  width: 100%;
}
.em-player .control-layer .timer-cmp .timer {
  font-size: 12px;
  color: #fff;
  position: absolute;
}
.em-player .em-modal {
  position: absolute;
  background-color: #2b2b2b;
  border: 1px solid #767676;
}
.em-player .em-modal.em-title {
  padding: 4px;
}
