
.em-player {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid @layerBorder;
    background: @water;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    .mask-layer {
      position: absolute;
      width: 100%;
      height: 200px;
      bottom: 0;
      left: 0;
      background-color: @controlBG;
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
    .control-layer {
        position: absolute;
        height: 175px;
        bottom: 0px;
        color: @white;
        z-index: 5;
        .title {
            font-size: 35px;
            color: @white;
            padding-bottom: 10px;
            padding-top: 5px;
        }
        .timer-cmp {
            width: 100%;
            height: 28px;
            .timer {
            font-size: 12px;
            color: @white;
            position: absolute;
            }
        }
        .button-layer {
          height: 50px;
          width: 100%;
          .em-button {
            height: 20px;
            width: 20px;
            color: @white;
            font-size: 20px;
            padding: 10px 15px 20px 15px;
            background-color: @water;
            &:active {
              background-color: red;
            }
            &:hover {
              background-color: @btnHover;
            }
            &:first-child {
              margin: 0px !important;
            }
          }
        }
    }
    .em-modal {
        position: absolute;
        background-color: @modalBG;
        border: 1px solid @modalBorder;
        &.em-title {
            padding: 4px;
        }
    }
}
